body {
    background-image: url('../imagenes/fondoGrande5.webp');
    background-size: cover; /* Ensure the background covers the entire screen */
    background-attachment: fixed; /* Keep the background fixed in place */
    background-position: center; /* Center the background image */
    font-family: sans-serif;
}
/*************************** cabecera **************************/
.cabecera {
    background: linear-gradient(to right, #fab639cb, #ff893bcb);
    color: white;
    text-align: center;
    display: flex;
    margin-left:-8px;
    margin-top: -8px;
    padding-right: 16px;
    justify-content: space-between;

    width: 100%;
    height: 80px;
}
.menuLogo {
    width: 120px;
    padding: 5px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}
.logo {
    width: 90px;
    padding: 0px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}
.menu {
    font-size: 19px;
    margin-top: 19px;
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid silver;
    border-radius: 5px;
}
.menu * {
    gap: 10px;
    cursor: pointer;
    align-content: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 40px;
}
.menu div:hover {
    background-color: #ffa500;
    color: white;
    transition: 0.5s;
}
#nombreCabecera {
    font-family: initial;
    font-size: 50px;
    align-self: center;
    width: 42%;
}
.menu2 {
    font-size: 24px;
    margin-top: 19px;
    width: 8%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
    background-color:#ff6822;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


.menu2:hover {
    background-color: #ffa500;
    color: white;
    transition: 0.5s;
}
/*********************cuerpo**************************/
.bannerPrincipal * {
    color: white;
}
.bannerPrincipal {
    width: 100%;
    height: 100px;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.primeraParte {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
}
.segundaParte {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
}
.terceraParte {
    width: 40%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
}
.textoDecoracion {
    border-radius: 25px;
    color: white;
    border: 2px solid silver;
    background: linear-gradient(to right, #fab639cb, #ff893bcb);
    width: 55%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    font-size: 20px;
    line-height: 1.6;
}
.textoDecoracion2 {
    border-radius: 25px;
    color: white;
    border: 2px solid silver;
    background: linear-gradient(to right, #fab639cb, #ff893bcb);
    height: 550px;
    padding-left: 40px;
    padding-right: 40px;    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 19px;
    line-height: 1.6;
}

.textoDecoracion div {
    width: 80%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin: auto;
}

.imagen {
    margin-top: 20px;
    height: 70%;
    width: auto;
    border-radius: 25px;
    border: 2px solid silver;
}
.registrate {
    font-size: 20px;
    margin-top: 20px;
    width: 25%;
    background-color:#ff6822 ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color:white;
}
.registrate:hover {
    background-color: #ffa500;
    color: white;
    transition: 0.5s;
}
/*************************** carrusel **************************/

.carousel {
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Center the carousel horizontally */
    border:  2px solid silver;
    background: linear-gradient(to right, #fab639cb, #ff893bcb);
    margin-bottom: 20px;
}

.carousel-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-container img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}
  /*********************footer**************************/

  .footer {
    background: linear-gradient(to right, #fab639cb, #ff893bcb);
    color: white;
    text-align: center;  
    display: flex;
    margin-left:-8px;
    margin-top: -8px;
    padding-right: 16px;
    padding-bottom: 16px;        
    width: 100%;
    height: 200px;
    flex-direction: row; /* Ensure footerLogo and contacto are on the same line */
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: space-between; /* Space out footerLogo and contacto */
    align-items: center; /* Center align items vertically */
}
.footerLogo {
    width: 20%; /* Adjust width as needed */
    margin: 0; /* Remove auto margin */
    display: flex;
    justify-content: flex-start; /* Align to the left */
}
.footerLogo img {
    width: 100%;
    height: 170px;
    object-fit: contain;
    cursor: pointer;
}
.contacto {
    font-size: 20px;    
    width: 70%; /* Adjust width as needed */
    margin-top: 5px;
    height: 176px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: right;
    border-radius: 5px;
    color: inherit;
}
.contacto * {
    display: flex;
    text-decoration: none;
    color: inherit;
    flex-direction: column;
    gap: 10px; 
}
.contacto li:hover {
    color: #ffc400;
}
.derechos {
    font-size: 20px;    
    width: 100%; /* Ensure it takes the full width */
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: inherit;
    text-align: center; /* Center align text */
    margin-top: 10px; /* Add some space above */
}
@media (max-width: 1024px) {
    .cabecera {
        flex-direction: row;
        height: auto;
    }
    #nombreCabecera {
        font-size: 40px;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .menu {
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }
    .menu2 {
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }
    .bannerPrincipal {
        font-size: 20px;
        height: 150px;
        
    }
    .primeraParte {
        width: 100%;
        height: 500px;
        margin: auto;
    }
    .segundaParte {
        width: 100%;
        height: 500px;
        margin: auto;
    }
    .terceraParte {

    }
    .textoDecoracion {
        width: 95%;
        height: auto;
        padding-left: 40px;
        padding-right: 40px;    
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        line-height: 1.6;
        margin-left: 0px;
    }
    .textoDecoracion2 {
        border-radius: 25px;
        color: white;
        border: 2px solid silver;
        background: linear-gradient(to right, #fab639cb, #ff893bcb);
        height: 550px;
        padding-left: 40px;
        padding-right: 40px;    
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 19px;
        line-height: 1.6;
    }
    
    .textoDecoracion div {
        width: 80%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;    
        justify-content: center;
        margin: auto;
    }
    .carousel {

        margin: 100px auto; /* Center the carousel horizontally */
    }
    .footer {
        flex-direction: row;
        height: auto;
        display: flex;
        width: 100%;
    }
    .footerLogo {
        width: 30%;
        margin: 10px 0;
    }
    .footerMenu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .contacto {
      
        align-items: center;
        text-align: center;
    }
    .derechos {
      
    }
    .logoFooter {
        width: 244px;
        padding: 5px;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }
}
@media (max-width: 700px) {
    .cabecera {
        flex-direction: row;
        height: auto;
    }
    #nombreCabecera {
        font-size: 40px;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .menu {
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }
    .menu2 {
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }
    .bannerPrincipal {
        font-size: 20px;
        height: 150px;
        
    }
    .primeraParte {
        flex-direction: column;
        height: 350px;
        margin-bottom: 50px;

    } .segundaParte {
        flex-direction: column;
        height: 300px;
        margin-bottom: 50px;
    }
    .terceraParte {
        flex-direction: column;
        height: 300px;
        margin-bottom: 50px;
    }
    .textoDecoracion {
        width: 90%;
        height: 200px;
        margin: 20px 0;
        font-size: 18px;
    }
    
    .footer {
        flex-direction: row;
        height: auto;
        
        width: 100%;
    }
    .footerLogo {
        width: 50%;
        margin: 10px 0;
    }
    .footerMenu {
        width: 100%;
        text-align: center;
    }
    .contacto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .derechos {
        margin-left: 0;
    }
    .logoFooter {
        width: 244px;
        padding: 5px;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }
}

